<h1>New Brand</h1>
<form action="/brands" method="POST">
    <input type="text" name="name" placeholder="Name"/>
    <input type="text" name="logoImg" placeholder="Logo Image"/>
    <input type="submit" value="Add Brand"/>
</form>