<div class="page">
    <h1>New Item</h1>
    <form action="/clothing" method="POST">
        <input type="text" name="name" placeholder="Name"/>
        <input type="text" name="brand" placeholder="Brand"/>
        <input type="number" name="price" placeholder="Price"/>
        <input type="text" name="type" placeholder="Garment Type"/>
        <input type="text" name="img" placeholder="Image Link"/>
        <input type="submit" value="Add Item"/>
    </form>
</div>