<div class="page">
    <h1>Create Account</h1>

    <form action="/users" method="POST">
        <input type="text" name="name" placeholder="Username"/>
        <input type="submit" value="Create Account"/>
    </form>
</div>