<!-- 
  This is a template that contains HTML that should appear in every web page that your
  sever generates. This is where you should import script files as well as link to any
  CSS files. 
-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>TIME CAPSULE</title>
    <link rel="stylesheet" href="/styles.css" type="text/css">
</head>
<body>
  <div class="user">
    <a href="/users/login">
      <button>
          Login
      </button>
    </a>
  </div>
  <div class="titleWrapper">
    <h1 class="title">Time Capsule</h1>
  </div>
    <!--
      This is a place holder for the contents of the .hbs file that is
      rendered.
    -->
    {{{body}}}
  <script>
    let currentUser = null

    let loginButton = document.getElementsByClassName('login')[0]
    let userName = document.getElementsByClassName('username')[0]

    const loginFunc = function() {
        if(currentUser === null) {
            loginButton.value = 'Log Out'
            let userSpot = document.getElementsByClassName('user')[0]
            let userAccount = document.createElement('p')
            userAccount.innerHTML = userName.value
            currentUser = userName.value
            userSpot.appendChild(userAccount)
        } else {
          currentUser = null
          userSpot.removeChild(lastChild)
          loginButton.value = 'Log In'
          console.log('null')
        }
    }
    console.log(loginButton)
    console.log(userName)

    loginButton.addEventListener('click', loginFunc)
</script>

</body>
</html>