<div class="page">
    <h1>User Login</h1>
    <form>
        <input type="text" name="name" placeholder="Username"/>
        <input type="submit" value="Log In"/>
    </form>

    <p>New user? <a href="/users/add"><button>New Account</button></a></p>
</div>