<a href="/clothing" class="home">
    Home
</a>
<div class="page">
    <h1>User Login</h1>
        <div class="form">
            <input type="text" class="username" name="name" placeholder="Username"/>
            <input type="text" name="password" placeholder="Password"/>
            <button class="login">Log In</button>
        </div>

    <p>New user? <a href="/users/add"><button>New Account</button></a></p>
</div>