<div class="page">
    <h1>Update Account</h1>

    <form action="/clothing/{{user._id}}?_method=PUT" method="POST">
        <input type="text" name="name" value="{{user.name}}"/>
        <input type="submit" value="Save Changes"/>
    </form>
</div>