.page {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titleWrapper {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 34px;
    font-family: Helvetica;
    color: grey;
    font-weight: 100;
    margin: 0 0 50px 0;
}

.title {
    font-size: 38px;
    text-transform: uppercase;
    letter-spacing: 20px;
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(140, 0, 0)
}

.selection {
    margin: 100px 175px;
    display: flex;
    flex-flow: wrap;
}

.item {
    margin: 30px;
}

.home {
    color: grey;
    text-transform: uppercase;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
    margin: 30px;
}

a {
    color: black;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

button {
    margin: 20px;
}

img {
    width: 200px;
}

img.solo {
    width: 400px;
}

nav {
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: space-around;
}

nav a {
    font-family: Helvetica;
    font-weight: 100;
    font-size: 26px;
    color: lightgrey;
    text-transform: uppercase;
    padding: 20px;
}

.user {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
}
.form {
    display: flex;
    flex-direction: column;
}
h2 {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 30px;
    color: grey;
}
h3 {
    font-weight: 100;
    font-size: 22px;
}

.enter {
    display: flex;
    justify-content: center;
    margin: 120px;
    text-transform: uppercase;
    letter-spacing: 10px;
}