.page {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 38px;
    text-transform: uppercase;
    letter-spacing: 20px;
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(140, 0, 0)
}

.selection {
    margin: 100px 175px;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}

a {
    color: black;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

img {
    width: 200px;
}

img.solo {
    width: 400px;
}

nav {
    width: 100vw;
    background-color: black;
}

nav a {
    font-family: Helvetica;
}